<!DOCTYPE html>
<html ng-app="alunoApp">
<head>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<title>IMC</title>
</head>
<body>

<div class="wrapper" ng-controller="alunoController">
	<div class="jumbotron">
  		<h1>Bom Corpo</h1>
 		 <p>Este um sistema para voce que gosta de manter o corpo em dia e ter controle sobre sua saude.</p>
	</div>
	<section class="form">
	<form action="" method="POST" class="form-horizontal" ng-submit="addAluno()">
	<input id="idAluno" type="hidden" ng-model="idAluno" value="0" />
  <fieldset>
    <legend>Novo Aluno</legend>
    <div class="form-group">
      <label for="nome" class="col-lg-2 control-label">Nome</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" ng-model="nome"
		id="aluno" placeholder="Nome" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Sexo</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" ng-model="sexo" name="optionsRadios" id="optionsRadios1" value="M" checked="">
            Masculino
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="sexo" name="optionsRadios" id="optionsRadios2" value="F">
			Feminino
          </label>
        </div>
      </div>
    </div>
	<div class="form-group">
      <label for="altura" class="col-lg-2 control-label">Altura</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" ng-model="altura"
		id="altura" placeholder="Altura" required>
      </div>
    </div>
	<div class="form-group">
      <label for="peso" class="col-lg-2 control-label">Peso</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" ng-model="peso"
		id="peso" placeholder="Peso" required>
      </div>
    </div>
	<div class="form-group">
      <label for="imc" class="col-lg-2 control-label">IMC</label>
      <div class="col-lg-10">
        <input class="form-control" ng-model="imc" id="imc" placeholder="IMC" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="button" class="btn btn-default" ng-click="calculaImc()">Calcular</button>
        <button type="submit" class="btn btn-primary" value="Add">Adicionar</button>
      </div>
    </div>
  </fieldset>
</form>
	</section>

	<section class="list">
		<h3>Registros</h3>
		<table class="table table-bordered table-striped">
			<tbody>
				<tr ng-repeat="aluno in list">
					<td>{{aluno.id}}</td>
					<td>{{aluno.nome}}</td>
					<td>{{aluno.altura | number:2}}</td>
					<td>{{aluno.peso | number:2}}</td>
					<td>{{aluno.sexo}}</td>
					<td>{{aluno.imc}}</td>
					<td>
						<span><a ng-click="editAluno(aluno.id)" class="btn btn-success">Editar</a></span>
						<span><a ng-click="deleteUser(aluno.id)" class="btn btn-danger">Deletar</a></span>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>

<script src="js/vendor/angular.min.js"></script>
<script src="js/alunoApp.js"></script>
<script src="js/controller/AlunoController.js"></script>

</body>
</html>
